<div class="container-fluid">
    <div class="row vh-100  bg-danger text-center d-flex align-items-center justify-content-center">
        <div class="col text-center">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top" src="{{personaje.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{personaje.name}}</h5>
                    <p class="card-text">{{personaje.species}}</p>
                    <button class="btn btn-primary " routerLink="/proyecto-tres">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>