#container {
  background-color: #212121;
  height: 100vh;
  color: #fff;
  margin: 0;
  padding-top: 20px;
}

.video-details {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
}

.my-form {
  max-width: 800px; /* Ajusta el ancho del formulario según tus necesidades */
  margin: auto;
  padding: 20px;
  background-color: #212121;
  color: #fff;
  border: 1px solid #484848;
  border-radius: 8px;
  margin-top: 20px;
}

iframe {
  width: 100%;
  height: 500px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #fff;
}

.form-control {
  background-color: #333;
  color: #fff;
  border: 1px solid #484848;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.col button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
